.nav {
  width: 100%;
  display: flex;
  background-color: seashell;
}

.nav ul {
  list-style: none;
}

.nav__list {
  display: flex;
}

.nav__item {
}

.nav__item a {
  display: block;
}

.nav__item:not(:last-of-type) {
  margin-right: 10px;
}
